Body {
    background-image: url(Offihito/Mountain2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.Container {
    background-color: rgb(44, 44, 44, 0.5);
    width: 1000px;
    border-radius: 50px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Profile-picture {
   border-radius: 600px;
   height: 200px;
   width: 190px;
   margin-right: 750px;
   margin-bottom: 420px;
   display: inline-block;
   position: absolute;
}
p {
    font-family: "Asimovian", sans-serif;
}
.Profile-Name {
    color: white;
    display: inline-block;
   position: absolute;
    margin-right: 280px;
   margin-bottom: 460px;
   font-size: 60px;
}
.About {
    color: white;
   display: inline-block;
   position: absolute;
   margin-bottom: 150px;
   margin-right: 20px;
   font-size: 20px;
   width: 900px;
}
.Techstack {
    color: white;
    display: inline-block;
   position: absolute;
    margin-right: 740px;
   margin-bottom: 40px;
   font-size: 40px;
}
.Techstack2 {
    color: white;
    display: inline-block;
   position: absolute;
    margin-right: 420px;
    margin-top: 150px;
   font-size: 20px;
}
.Target {
    color: white;
    display: inline-block;
   position: absolute;
    margin-right: 580px;
    margin-top: 250px;
   font-size: 20px;
}
.Social-links {
    width: 1007px;
    height: 200px;
   position: absolute;
    margin-top: 500px;
    border-radius: 50px;

}
.github-photo {
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 50px;
}
.discord-photo {
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 50px;
}


