.Body {
   background-image: url("Offihito/Mountain2.webp");
   background-size: cover;
}
.Main {
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 1100px;
    position: absolute;
    left: 450px;
    top: 50px;
    padding-top: 425px;
    opacity: 0.5;
    border-radius: 50px;
}
.Profile-picture {
    border-radius: 900px;
    height: 170px;
    width: 160px;
    position: absolute;
    left: 500px;
    top: 90px;
}
.Profile-Name {
    position: absolute;
    left: 750px;
    top: 100px;
    font-size: 50px;
    color: white;
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
}
.Social-links {
    height: 150px;
    position: relative;
    top: 715px;
    width: 1100px;
    left: 440px;
    border-radius: 50px;
    opacity: 0.5;
}
.Github {
    color: white;
    position: absolute;
    top: 20px;
    left: 70px;
}
.github-image {
    height: 80px;
    margin-top: 20px;
}
.Discord {
    color: white;
    position: absolute;
    top: 20px;
    left: 250px;
}
.discord-image {
    height: 80px;
    margin-top: 20px;
}
.information {
    position: absolute;
    left: 500px;
    top: 270px;
    font-family: "Asimovian", sans-serif;
    color: white;
    font-size: 20px;
}
.information2 {
    position: absolute;
    left: 500px;
    top: 310px;
    font-family: "Asimovian", sans-serif;
    color: white;
    font-size: 40px;
}
.information3 {
    position: absolute;
    left: 500px;
    top: 410px;
    font-family: "Asimovian", sans-serif;
    color: white;
    font-size: 20px;
}
.Plans {
    position: absolute;
    left: 500px;
    top: 470px;
    font-family: "Asimovian", sans-serif;
    color: white;
    font-size: 20px;
}


